<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= contact_query_type_presenter.id %>">

    <div class="large-1 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <span class="drag-helper"></span>
    </div>



    <div class="large-8 small-8 columns" data-equalizer-watch="module-list">

    <%= contact_query_type_presenter.query_type %>
  </div>



  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= contact_query_type_presenter.toggle_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= contact_query_type_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= contact_query_type_presenter.delete_link %>
  </div>
</div>
