<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= frequently_asked_question_presenter.id %>">

    <div class="large-1 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <span class="drag-helper"></span>
    </div>



    <div class="large-7 small-8 columns" data-equalizer-watch="module-list">

    <%= frequently_asked_question_presenter.toggle_title %>
  </div>



  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= frequently_asked_question_presenter.toggle_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= frequently_asked_question_presenter.view_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= frequently_asked_question_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= frequently_asked_question_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= frequently_asked_question_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= frequently_asked_question_presenter.optimadmin_summary %>
    </div>
  </div>
</div>
