<%= form_for @contact, url: contacts_path(anchor: 'contact-form') do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize @contact.errors.count, 'error' %> prevented this message from being sent
      </h2>

      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="details">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :company %>
      <%= f.text_field :company %>
    </div>
  </div>

  <div class="details">
    <div class="field">
      <%= f.label :email_address %>
      <%= f.email_field :email_address %>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
  </div>

  <div class="details">
    <div class="full field">
      <%= f.label :query_type %>
      <%= f.select :query_type, ContactQueryType.displayed.pluck(:query_type), prompt: 'Please select' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :further_information %>
    <%= f.text_area :further_information %>
  </div>

  <div class="actions">
    <%= f.submit "Send", class: "button" %>
  </div>
<% end %>
