<%= content_for :head do %>
<script>
$(document).ready(function() {
  $('.home-page-banners').slick({
    autoplay: true,
    autoplaySpeed: 4000,
    fade: true,
    speed: 400,
    dots: false,
    arrows: false
  });
});
</script>
<% end %>

<div class="home-page-banners">
  <%= render partial: 'home_page_banners/home_page_banner', collection: @presented_home_page_banners, as: :home_page_banner_presenter %>
</div>

<div class="content-focus">
  <div class="content">
    <%= @presented_additional_content.content %>
  </div>

  <div class="interests">
    <%= render partial: 'interests/interest', collection: @presented_interests, as: :interest_presenter %>
  </div>
</div>

<div class="article-focus">
  <h2 class="focus-heading">Latest News</h2>

  <div class="articles">
    <%= render partial: 'articles/article_grid', collection: @presented_articles, as: :article_presenter %>
  </div>
</div>
